/*BACKGROUNDS*/
header {
    background-color: #17abb3;
    display: flex;
    flex-direction: row;
    align-items: center;
}
aside {
    background-color: #e3e3e3;
}
footer {
    background-color: #17abb3;
}
#container {
    width: 1160px;
    margin: auto;
}

/*HEADER*/
#picture-box > img {
    width: 150px;
     height: 150px;
     object-fit: contain;
 }
 #title-box {
     flex: 67% 0;
 }
 #picture-box {
     flex: 33% 0;
     text-align: center;
 }
 #infos-box {
     display: flex;
     flex-flow: row wrap;
 }
 .picto {
     width: 15px;
     height: auto;
     margin-right: 15px;
     margin-left: 60px;
 }
 .info-element {
     flex: 50% 0;
     display: flex;
 }

 /*ASIDE*/
.star {
    width: 15px;
    height: auto;
}
.skill-info {
    display: flex;
}
.language-info {
    display: flex;
}
aside {
    flex: 33% 0;
}

/*MAIN*/
main {
    flex: 67% 0;
}

#main-content {
    display: flex;
}
.language-info > p {
    flex: 1 0;
}
.language-level {
    text-align: right;
}
.cv-line {
    display: flex;
    flex-flow: row wrap;
    width: auto;
}
.cv-line > div {
    flex: 50% 0;
}

 /*FOOTER*/
footer {
    text-align: center;
}

.picto-footer {
    width: 15px;
}